.row {
    height: 30px;
    display: flex;
}

.hall {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.wall {
    width: 30px;
    height: 30px;
    background-color: brown;
}

#player {
    border: 1px;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    background-color: green;
}